body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: black;
  width: 100%;
  height: 140px;
  color: aliceblue;
}

h1 {
  position: absolute;
  left: 350px;
  top: 20px;
}

#Portfolio {
  border: 1px solid;
  padding: 10px;
  list-style: none;
}