body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: black;
  width: 100%;
  height: 140px;
  color: aliceblue;
}

h1 {
  position: absolute;
  left: 300px;
  top: 20px;
}

ul {
  border: 1px solid;
  padding: 10px;
  list-style: none;
}

#portfolio {
  width: 90%;
  margin: 10px auto;
}

.blackBox {
  text-align: center;
  position: absolute;
  left: 300px;
  display: flex;
}

.first {
  border: 1px solid rgb(164, 164, 164);
  float: left;
  width:300px;
  box-sizing: inherit;
  margin: 50px 0;
  padding: 5px;
}

.second{
  border: 1px solid rgb(164, 164, 164);
  float: left;
  width:300px;
  box-sizing: inherit;
  margin: 50px 50px;
  padding: 5px;
}

.third{
  border: 1px solid rgb(164, 164, 164);
  float: left;
  width:300px;
  box-sizing: inherit; 
  margin: 50px 0;
  padding: 5px;
}

.component {
  position: absolute;
  left: 300px;
  top: 250px;
}

.one { /* 가로 줄 */
  position: relative;
  left: 300px;
  top: 160px;
  width: 1039px;
}

table { 
  border: 1px solid #989898;
  border-collapse: collapse;
  position: relative;
  left: 300px;
  top: 200px;
  width: 1039px;
  } 

.table {
  margin: 0px 0px 40px;
  background-color: rgb(164, 164, 164);
}
#boxs {
  height: 80px;
  
}

.form {
  margin: 20px 0px 40px;
}
.list {
  margin: 20px 0px 40px;
}
 tr{
    border: 1px solid #a5a4a4;
    padding: 10px;
    height: 80px;
 } 
  